body{
    font-family: 'Open Sans', sans-serif;
}

#main-cal{
    width: 90%;
    margin:auto;
}

#welcome_user, #month_year{
    text-align: center;
}

#month_year{
    font-size: 40px;
    font-weight: 600;
    padding: 1px;
    margin: 1px;
    transform: translate(35px, 0px);
}


#welcome_user{
    float:right;
    font-style: italic;
    color: gray;
    margin: 5px;
}

#navbuttons{
    text-align: center;
    margin-bottom: 10px;
    margin-top: none;
}

#create_btn{
    display: none;
}

button{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

button:hover {
    background-color: black;
    color: white;
  }

#event-form{
    display: none;
    padding: 2px;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-left: 12px;
    background-color: rgb(136, 157, 227);
    width: 15%;
}

#event-form input, button{
    margin-top: 3px;
    margin-bottom: 3px;
}

#edit-event-form input, button{
    margin-top: 3px;
    margin-bottom: 3px;
}


#edit-event-form{
    display: none;
    padding: 2px;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-left: 12px;
    background-color: rgb(136, 157, 227);
    width: 15%;
}

#edit-event-form input, button{
    margin-top: 3px;
    margin-bottom: 3px;
}

#edit-event-form input, button{
    margin-top: 3px;
    margin-bottom: 3px;
}

#edit-event-form h2{
    font-size: 20px;
    font-weight: 500;
    padding: 1px;
    margin: 1px;
}

#logout_btn{
    display: none;
    float:right;
}

th, td{
    width: 150px;
}

th{
    font-weight: 600;
    font-size: 20px;
}

td{
    height: 150px;
    border: 1px solid lightgrey;
    margin: 0;
    padding: 0;
    vertical-align: text-top;
}

.datenum{
    font-size: 18px;
    padding: 2px;
    font-weight: 400;
}

.event_div{
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
}

.event_title{
    font-size: medium;
    padding: 0;
    margin:0;
}

.event_time{
    font-size: 10px;
    font-style: italic;
    color: grey;
    padding: 0;
    margin:0;
}

.button_divs{
    display: none;
}

.event_div:hover .button_divs{
    display: block;
}

#login{
    margin-bottom: 5px;
}

input{
    padding: 5px 10px;
}

.delete_event_button{
    margin-right: 2px;
}

.delete_event_button, .edit_event_button{
    background-color: inherit;
    border-color: grey;
    padding: 2px 5px;
    margin: 1px;
    color: grey;
}

.delete_event_button:hover, .edit_event_button:hover {
    background-color: grey;
    color: white;
  }

.event_div.blue{
    background-color: lightblue;
}

.event_div.pink{
    background-color: rgb(254, 214, 220);
}

.event_div.yellow{
    background-color: rgb(255, 255, 182);
}

.event_div.green{
    background-color: rgb(202, 255, 202);
}

#filter-color{
    text-align: center;
    margin-top: 5px;
    margin-right: 0px;
    padding-right: 0px;
}