#main-cal{
    width: 90%;
    margin:auto;
}

#welcome_user, #month_year{
    text-align: center;
}

#navbuttons{
    text-align: center;
}

#event-form{
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    width: 50%;
    margin: auto;
}

#edit-event-form{
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    width: 50%;
    margin: auto;
    display: none;
}

#logout_btn{
    display: none;
}

#event-form{
    display: none;
}

th, td{
    width: 150px;
}

td{
    height: 150px;
    border: 1px solid lightgrey;
    margin: 0;
    padding: 0;
    vertical-align: text-top;
}

.datenum{
    font-size: larger;
}

.event_div{
    margin: 2px;
    padding: 2px;
    background-color: lightblue;
}

.event_title{
    font-size: large;
    padding: 0;
    margin:0;
}

.event_time{
    font-size: small;
    font-style: italic;
    color: grey;
    padding: 0;
    margin:0;
}

.button_divs{
    display: none;
}

.event_div:hover .button_divs{
    display: block;
}

